.contact-item-read {
  @apply font-medium text-13;
}

.contact-item-time {
  @apply text-[13px] text-black50;
}

.post-time {
  @apply text-14 text-black50;
}

.post .slick-slide img {
  @apply mx-auto;
}

.story-container .slick-arrow {
  top: 50px !important;
  /* width: 40px;
  height: 40px; */
}

.story-container .slick-arrow::before {
  opacity: 1;
  /* font-size: 40px; */
}

.slick-arrow.slick-disabled::before {
  display: none;
}

.story-container .slick-prev {
  left: 0 !important;
  z-index: 10;
}

.story-container .slick-next{
  right: 0 !important;
}

.divider {
  @apply border-black15 border-t-1 flex-1
}

.chat-input {
  @apply bg-grey rounded-lg flex-1 focus:outline-none text-13
}

textarea:where(.css-dev-only-do-not-override-ph9edi).ant-input.chat-input{
  min-height: 30px;
  max-height: 90px;
}

.ant-input:hover {
  @apply border-transparent
}

.ant-input:focus {
  border:none;
  box-shadow: none;
  outline: 0;
  border-inline-end-width: 0;
}

.ant-upload-wrapper .ant-upload-drag {
  @apply border-none bg-grey
}

.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0;
}

.ant-upload-wrapper .ant-upload-drag .ant-upload-btn {
  width: 440px;
  height: 330px;
}