.auth-bg {
  background: radial-gradient(50% 98.88% at 50% 50%, #96caf7 0%, #bfb2f3 100%);
  width: 100vw;
  height: 100vh;
  padding: 0px 0px;
}

.auth-btn-container {
  border-radius: 10px;
  background: linear-gradient(
    91.17deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(191, 178, 243, 0.5) 0.01%,
    rgba(150, 202, 247, 0.5) 100%
  );
  @apply p-[2px];
}

.auth-btn {
  background: linear-gradient(91.17deg, #96caf7 0%, #bfb2f3 100%);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  @apply h-[5.86vh] w-full font-medium text-[25px] md:text-[20px] text-white hover:brightness-105;
}

.auth-input-container {
  border-radius: 12px;
  height: 6.5vh;
  margin-top: 8px;
  box-shadow: 0px 4px 4px 0px #0000000D;
  @apply bg-grey relative;
}

.auth-input-container:focus-within,.auth-input-container:hover {
  @apply bg-gradient-to-r from-[#96CAF7] to-[#BFB2F3];
}

.auth-input {
  font-family: 'Ubuntu';
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  border: none; 
  border-radius: 10px;
  padding: 0px 7%;
  font-size: 14px;
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.auth-input input {
  @apply font-ubuntu;
}

.auth-input::placeholder,
.auth-input input[type="password"]::placeholder,
.auth-input input[type="text"]::placeholder {
  @apply text-grey-dark;
}

.auth-input:hover,
.auth-input:focus {
  @apply outline-transparent;
}

.auth-title {
  @apply font-bold text-[40px] md:text-[30px];
}
