@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/fonts.css");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  @apply flex items-center;
}

.between-row {
  @apply flex items-center justify-between;
}

.col-center {
  @apply flex flex-col justify-center;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.center {
  @apply flex items-center justify-center;
}

.avatar {
  @apply aspect-square bg-grey rounded-full;
}

.default-divider {
  @apply m-0;
}

/* Buttons */
.primary-btn {
  width: 100%;
  height: 50px;
  background: linear-gradient(91.17deg, #96caf7 0%, #bfb2f3 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 11px;
  @apply font-ubuntu font-bold text-24 text-white;
}

.warning-btn {
  @apply w-[200px] h-[50px] rounded-10 font-medium text-20;
}

.warning-btn.warning-btn-primary {
  @apply bg-red text-white
}

.warning-btn.warning-btn-secondary {
  @apply border-1 border-black
}

/* Inputs */
.search-input {
  @apply w-full h-[50px] rounded-10 bg-white focus:outline-none text-16 px-[19px];
}

/* Hover */
.hover-default {
  @apply hover:bg-hover hover:rounded-full;
}

.hover-btn-primary {
  @apply hover:brightness-125;
}

/* Antd */

.ant-checkbox .ant-checkbox-inner {
  width: 18px;
  height: 18px;
  border: 2px solid #777777;
}

.ant-divider {
  color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.15)
}

.ant-form {
  font-family: unset;
  font-size: unset;
  line-height: unset;
}

[class^="ant-spin"] {
  font-family: unset;
  font-size: unset;
}

.ant-message-notice .ant-message-success>.anticon {
  color: #BFB2F3;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.3);
}

/* Horizontal */
.horizontal-scroll::-webkit-scrollbar {
  height: 10px;
}
